In [223]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import requests
import plotly.graph_objects as go
import plotly.express as px

In [224]:
train_data = pd.read_csv('train.csv')
train_data.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [225]:
pd.get_option('display.max_columns')

20

In [226]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 38 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id                                              76518 non-null  int64
 1   Marital status                                  76518 non-null  int64
 2   Application mode                                76518 non-null  int64
 3   Application order                               76518 non-null  int64
 4   Course                                          76518 non-null  int64
 5   Daytime/evening attendance                      76518 non-null  int64
 6   Previous qualification                          76518 non-null  int64
 7   Previous qualification (grade)                  76518 non-null  float64
 8   Nacionality                                     76518 non-null  int64
 9   Mother's qualification                          76518 non-null  int64
 10  Father's qualification                          76518 non-null  int64
 11  Mother's occupation                             76518 non-null  int64
 12  Father's occupation                             76518 non-null  int64
 13  Admission grade                                 76518 non-null  float64
 14  Displaced                                       76518 non-null  int64
 15  Educational special needs                       76518 non-null  int64
 16  Debtor                                          76518 non-null  int64
 17  Tuition fees up to date                         76518 non-null  int64
 18  Gender                                          76518 non-null  int64
 19  Scholarship holder                              76518 non-null  int64
 20  Age at enrollment                               76518 non-null  int64
 21  International                                   76518 non-null  int64
 22  Curricular units 1st sem (credited)             76518 non-null  int64
 23  Curricular units 1st sem (enrolled)             76518 non-null  int64
 24  Curricular units 1st sem (evaluations)          76518 non-null  int64
 25  Curricular units 1st sem (approved)             76518 non-null  int64
 26  Curricular units 1st sem (grade)                76518 non-null  float64
 27  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 28  Curricular units 2nd sem (credited)             76518 non-null  int64
 29  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 30  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 31  Curricular units 2nd sem (approved)             76518 non-null  int64
 32  Curricular units 2nd sem (grade)                76518 non-null  float64
 33  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 34  Unemployment rate                               76518 non-null  float64
 35  Inflation rate                                  76518 non-null  float64
 36  GDP                                             76518 non-null  float64
 37  Target                                          76518 non-null  object
dtypes: float64(7), int64(30), object(1)
memory usage: 22.2+ MB

In [227]:
train_data

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,76513,1,17,1,9254,1,1,121.0,1,19,...,0,6,8,5,10.600000,0,13.9,-0.3,0.79,Graduate
76514,76514,1,1,6,9254,1,1,125.0,1,1,...,0,6,9,6,13.875000,0,9.4,-0.8,-3.12,Graduate
76515,76515,5,17,1,9085,1,1,138.0,1,37,...,0,5,8,5,11.400000,1,9.4,-0.8,-3.12,Enrolled
76516,76516,1,1,3,9070,1,1,136.0,1,38,...,0,6,0,0,0.000000,0,7.6,2.6,0.32,Dropout
76517,76517,1,1,1,9773,1,1,133.1,1,19,...,0,6,6,6,13.666667,0,15.5,2.8,-4.06,Graduate

In [228]:
train_data.describe()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
count,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000,...,76518.00000,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000,76518.000000
mean,38258.500000,1.111934,16.054419,1.644410,9001.286377,0.915314,3.658760,132.378766,1.226600,19.837633,...,0.05796,0.137053,5.933414,7.234468,4.007201,9.626085,0.062443,11.520340,1.228218,-0.080921
std,22088.988286,0.441669,16.682337,1.229645,1803.438531,0.278416,8.623774,10.995328,3.392183,15.399456,...,0.40849,0.933830,1.627182,3.503040,2.772956,5.546035,0.462107,2.653375,1.398816,2.251382
min,0.000000,1.000000,1.000000,0.000000,33.000000,0.000000,1.000000,95.000000,1.000000,1.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,19129.250000,1.000000,1.000000,1.000000,9119.000000,1.000000,1.000000,125.000000,1.000000,1.000000,...,0.00000,0.000000,5.000000,6.000000,1.000000,10.000000,0.000000,9.400000,0.300000,-1.700000
50%,38258.500000,1.000000,17.000000,1.000000,9254.000000,1.000000,1.000000,133.100000,1.000000,19.000000,...,0.00000,0.000000,6.000000,7.000000,5.000000,12.142857,0.000000,11.100000,1.400000,0.320000
75%,57387.750000,1.000000,39.000000,2.000000,9670.000000,1.000000,1.000000,140.000000,1.000000,37.000000,...,0.00000,0.000000,6.000000,9.000000,6.000000,13.244048,0.000000,12.700000,2.600000,1.790000
max,76517.000000,6.000000,53.000000,9.000000,9991.000000,1.000000,43.000000,190.000000,109.000000,44.000000,...,12.00000,19.000000,23.000000,33.000000,20.000000,18.000000,12.000000,16.200000,3.700000,3.510000

In [229]:
train_data.isnull().sum()

id                                                0
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [230]:
train_data.duplicated().sum()

0

In [231]:
train_data.dropna(inplace = True)

In [232]:
train_data.shape

(76518, 38)

In [233]:
train_data.size

2907684

In [234]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 38 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id                                              76518 non-null  int64
 1   Marital status                                  76518 non-null  int64
 2   Application mode                                76518 non-null  int64
 3   Application order                               76518 non-null  int64
 4   Course                                          76518 non-null  int64
 5   Daytime/evening attendance                      76518 non-null  int64
 6   Previous qualification                          76518 non-null  int64
 7   Previous qualification (grade)                  76518 non-null  float64
 8   Nacionality                                     76518 non-null  int64
 9   Mother's qualification                          76518 non-null  int64
 10  Father's qualification                          76518 non-null  int64
 11  Mother's occupation                             76518 non-null  int64
 12  Father's occupation                             76518 non-null  int64
 13  Admission grade                                 76518 non-null  float64
 14  Displaced                                       76518 non-null  int64
 15  Educational special needs                       76518 non-null  int64
 16  Debtor                                          76518 non-null  int64
 17  Tuition fees up to date                         76518 non-null  int64
 18  Gender                                          76518 non-null  int64
 19  Scholarship holder                              76518 non-null  int64
 20  Age at enrollment                               76518 non-null  int64
 21  International                                   76518 non-null  int64
 22  Curricular units 1st sem (credited)             76518 non-null  int64
 23  Curricular units 1st sem (enrolled)             76518 non-null  int64
 24  Curricular units 1st sem (evaluations)          76518 non-null  int64
 25  Curricular units 1st sem (approved)             76518 non-null  int64
 26  Curricular units 1st sem (grade)                76518 non-null  float64
 27  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 28  Curricular units 2nd sem (credited)             76518 non-null  int64
 29  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 30  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 31  Curricular units 2nd sem (approved)             76518 non-null  int64
 32  Curricular units 2nd sem (grade)                76518 non-null  float64
 33  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 34  Unemployment rate                               76518 non-null  float64
 35  Inflation rate                                  76518 non-null  float64
 36  GDP                                             76518 non-null  float64
 37  Target                                          76518 non-null  object
dtypes: float64(7), int64(30), object(1)
memory usage: 22.2+ MB

In [235]:
train_data['Target'].value_counts()

Graduate    36282
Dropout     25296
Enrolled    14940
Name: Target, dtype: int64

In [236]:
target_val = {'Graduate':1,'Dropout':2,'Enrolled':3}
train_data['Target'] = train_data['Target'].map(target_val)

In [237]:
train_data.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,1
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,2
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,2
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,3
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,1

In [238]:
train_data.corr()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
id,1.000000,0.009796,-0.003956,-0.007129,0.002111,0.002192,-0.005403,-0.003635,0.002437,0.001159,...,-0.007880,-0.001978,-0.004794,-0.001264,0.000206,-0.003217,-0.001539,0.000648,0.002916,-0.001746
Marital status,0.009796,1.000000,0.307324,-0.113951,0.023141,-0.323587,0.084064,-0.037717,0.004660,0.198373,...,0.037268,-0.005177,-0.021254,-0.111369,-0.111216,0.025689,-0.034481,0.019523,-0.046165,0.047468
Application mode,-0.003956,0.307324,1.000000,-0.238497,0.040452,-0.354834,0.451252,-0.060636,0.005937,0.163590,...,0.159977,0.013383,0.047992,-0.274728,-0.271664,0.043298,0.098439,0.005130,-0.065964,0.178354
Application order,-0.007129,-0.113951,-0.238497,1.000000,0.054168,0.147153,-0.155281,-0.013956,-0.016601,-0.062138,...,-0.066853,0.150224,-0.005080,0.166433,0.106326,-0.019871,-0.066022,-0.004206,0.031860,-0.113817
Course,0.002111,0.023141,0.040452,0.054168,1.000000,-0.041557,-0.011349,-0.069488,-0.018786,0.018063,...,-0.066453,0.613658,0.328303,0.249484,0.316896,0.018007,-0.001982,0.007152,0.024719,-0.048335
Daytime/evening attendance,0.002192,-0.323587,-0.354834,0.147153,-0.041557,1.000000,-0.057775,0.067332,0.006357,-0.199593,...,-0.071575,0.059326,0.023615,0.120979,0.110837,-0.014665,0.063861,-0.045270,0.037908,-0.048478
Previous qualification,-0.005403,0.084064,0.451252,-0.155281,-0.011349,-0.057775,1.000000,0.105284,-0.010346,0.001252,...,0.128899,0.027733,0.080597,-0.069113,-0.059210,0.001979,0.130838,-0.046189,0.013527,0.056724
Previous qualification (grade),-0.003635,-0.037717,-0.060636,-0.013956,-0.069488,0.067332,0.105284,1.000000,0.007707,-0.034497,...,-0.000320,0.030076,-0.048591,0.121827,0.089353,-0.011397,0.052112,0.028678,-0.053731,-0.152562
Nacionality,0.002437,0.004660,0.005937,-0.016601,-0.018786,0.006357,-0.010346,0.007707,1.000000,-0.024836,...,0.006125,-0.012356,-0.000051,-0.008279,-0.005232,0.002579,0.001823,0.001536,0.020058,0.003061
Mother's qualification,0.001159,0.198373,0.163590,-0.062138,0.018063,-0.199593,0.001252,-0.034497,-0.024836,1.000000,...,0.017870,-0.008667,0.002528,-0.083516,-0.082805,0.017145,-0.126686,0.068696,-0.099992,0.020355
Father's qualification,-0.003199,0.144820,0.102086,-0.046074,0.022939,-0.147777,-0.002976,-0.014052,-0.040848,0.567457,...,0.017971,-0.000577,0.021645,-0.021592,-0.017741,0.004242,-0.099637,0.064158,-0.070477,0.000066
Mother's occupation,0.007027,0.069695,0.063062,-0.037192,0.015827,-0.040206,0.011864,-0.026451,0.005132,0.109717,...,0.006258,-0.010710,-0.001629,-0.048457,-0.043436,0.028166,-0.078809,0.040785,0.068800,0.036347
Father's occupation,0.007252,0.054671,0.045628,-0.029156,0.015646,-0.028313,0.005876,-0.025917,0.004944,0.068012,...,0.005507,-0.013584,-0.002429,-0.040724,-0.034832,0.022342,-0.088676,0.044214,0.077774,0.028271
Admission grade,-0.002445,-0.037388,-0.071243,-0.035714,-0.089969,0.016647,0.143382,0.561483,-0.001429,-0.048386,...,0.045671,-0.016530,-0.048241,0.154232,0.135208,-0.013064,0.029367,-0.015950,-0.018837,-0.153127
Displaced,0.005972,-0.216122,-0.323343,0.347966,-0.070575,0.243796,-0.127597,0.008187,-0.012904,-0.086488,...,-0.057143,-0.001907,0.004459,0.151154,0.135265,-0.028553,-0.159455,-0.019086,0.095799,-0.084572
Educational special needs,-0.002527,-0.011644,-0.012460,0.006566,-0.014631,0.013246,-0.009546,-0.003748,0.001591,-0.015821,...,-0.004632,-0.008549,-0.000493,0.002003,0.002098,0.000066,0.019943,-0.001557,0.014951,0.001606
Debtor,-0.005147,0.049145,0.153215,-0.059187,-0.020765,-0.028341,0.094983,-0.041269,0.034452,0.028476,...,0.023396,-0.040439,0.009322,-0.194814,-0.185196,0.033936,0.034875,-0.016465,0.036173,0.102055
Tuition fees up to date,0.002250,-0.110193,-0.216764,0.064854,0.016522,0.099552,-0.077692,0.073557,-0.012721,-0.070373,...,0.013725,0.092254,0.105356,0.370150,0.381380,-0.046862,-0.001790,-0.005714,0.057133,-0.137938
Gender,-0.004084,0.031700,0.240312,-0.122433,-0.106512,-0.076996,0.112779,-0.060188,-0.006142,-0.020114,...,0.001023,-0.207906,-0.071752,-0.339734,-0.299345,0.049950,0.003329,0.009016,-0.040390,0.212961
Scholarship holder,-0.003048,-0.075632,-0.209330,0.092768,0.041961,0.105424,-0.081351,0.085385,-0.008791,0.036717,...,-0.035398,0.133448,0.047350,0.355532,0.295095,-0.055386,0.072654,-0.040151,0.074781,-0.327580
Age at enrollment,-0.000624,0.552404,0.593664,-0.240258,0.023751,-0.491393,0.186887,-0.106581,0.004282,0.296667,...,0.111891,-0.021518,-0.043200,-0.293103,-0.304133,0.046132,0.016703,0.052049,-0.092859,0.131291
International,-0.000089,-0.004286,0.005971,-0.016731,-0.015163,0.009799,-0.008985,0.015825,0.816937,-0.023198,...,0.014751,-0.007845,0.003225,-0.005382,-0.001024,-0.003367,-0.000584,0.001784,0.024086,-0.002008
Curricular units 1st sem (credited),-0.009064,0.039838,0.174309,-0.073493,-0.067790,-0.079284,0.150673,0.000223,0.006494,0.016218,...,0.933935,0.421179,0.264235,0.270014,0.083428,0.022417,0.025980,0.005707,-0.005943,-0.033397
Curricular units 1st sem (enrolled),-0.005707,0.007968,0.045741,0.109712,0.576324,0.031252,0.048382,0.017958,-0.009031,0.003419,...,0.531755,0.956321,0.459693,0.548000,0.374975,0.006231,0.082129,0.016110,0.014017,-0.188270
Curricular units 1st sem (evaluations),-0.004012,0.008848,0.101746,-0.029603,0.327168,-0.007957,0.085854,-0.061582,-0.000647,0.025328,...,0.317123,0.437354,0.786699,0.354304,0.429139,0.077303,0.029569,-0.031528,-0.044140,0.095589
Curricular units 1st sem (approved),-0.002580,-0.107198,-0.246015,0.143060,0.259981,0.115550,-0.044195,0.104006,-0.007438,-0.081513,...,0.345784,0.590151,0.484930,0.922657,0.830430,-0.065043,0.055241,-0.043474,0.093272,-0.406249
Curricular units 1st sem (grade),-0.000801,-0.104684,-0.248152,0.097291,0.344706,0.110273,-0.046646,0.079656,-0.007060,-0.075210,...,0.073241,0.401075,0.553566,0.787559,0.889393,-0.043324,0.005159,-0.045295,0.098482,-0.272594
Curricular units 1st sem (without evaluations),0.003339,0.023511,0.033103,-0.018316,0.012660,0.023854,0.003897,0.000599,0.010347,0.014500,...,0.042009,0.011253,0.060928,-0.055103,-0.040058,0.446286,-0.044933,-0.071368,-0.116242,0.053365
Curricular units 2nd sem (credited),-0.007880,0.037268,0.159977,-0.066853,-0.066453,-0.071575,0.128899,-0.000320,0.006125,0.017870,...,1.000000,0.429930,0.260298,0.278520,0.079910,0.025959,0.023759,0.006441,-0.008124,-0.036499
Curricular units 2nd sem (enrolled),-0.001978,-0.005177,0.013383,0.150224,0.613658,0.059326,0.027733,0.030076,-0.012356,-0.008667,...,0.429930,1.000000,0.445810,0.572588,0.392509,-0.000380,0.113817,0.007338,0.017074,-0.213194
Curricular units 2nd sem (evaluations),-0.004794,-0.021254,0.047992,-0.005080,0.328303,0.023615,0.080597,-0.048591,-0.000051,0.002528,...,0.260298,0.445810,1.000000,0.411914,0.517637,0.071972,0.026389,-0.024716,0.014411,0.084115
Curricular units 2nd sem (approved),-0.001264,-0.111369,-0.274728,0.166433,0.249484,0.120979,-0.069113,0.121827,-0.008279,-0.083516,...,0.278520,0.572588,0.411914,1.000000,0.859370,-0.066165,0.057682,-0.042614,0.089067,-0.458061
Curricular units 2nd sem (grade),0.000206,-0.111216,-0.271664,0.106326,0.316896,0.110837,-0.059210,0.089353,-0.005232,-0.082805,...,0.079910,0.392509,0.517637,0.859370,1.000000,-0.042672,0.005969,-0.046167,0.107580,-0.291505
Curricular units 2nd sem (without evaluations),-0.003217,0.025689,0.043298,-0.019871,0.018007,-0.014665,0.001979,-0.011397,0.002579,0.017145,...,0.025959,-0.000380,0.071972,-0.066165,-0.042672,1.000000,-0.019001,-0.021179,-0.041448,0.068818
Unemployment rate,-0.001539,-0.034481,0.098439,-0.066022,-0.001982,0.063861,0.130838,0.052112,0.001823,-0.126686,...,0.023759,0.113817,0.026389,0.057682,0.005969,-0.019001,1.000000,-0.011955,-0.298941,-0.055411
Inflation rate,0.000648,0.019523,0.005130,-0.004206,0.007152,-0.045270,-0.046189,0.028678,0.001536,0.068696,...,0.006441,0.007338,-0.024716,-0.042614,-0.046167,-0.021179,-0.011955,1.000000,-0.085736,0.016117
GDP,0.002916,-0.046165,-0.065964,0.031860,0.024719,0.037908,0.013527,-0.053731,0.020058,-0.099992,...,-0.008124,0.017074,0.014411,0.089067,0.107580,-0.041448,-0.298941,-0.085736,1.000000,-0.066999
Target,-0.001746,0.047468,0.178354,-0.113817,-0.048335,-0.048478,0.056724,-0.152562,0.003061,0.020355,...,-0.036499,-0.213194,0.084115,-0.458061,-0.291505,0.068818,-0.055411,0.016117,-0.066999,1.000000

In [239]:
train_data.drop(columns=['id'],inplace = True)

In [240]:
train_data.isnull().sum()

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [241]:
train_data.to_csv('academic_data.csv',index = False)

In [242]:
test_data = pd.read_csv('test.csv')

In [243]:
test_data.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,76518,1,1,1,9500,1,1,141.0,1,3,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,76519,1,1,1,9238,1,1,128.0,1,1,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,76520,1,1,1,9238,1,1,118.0,1,1,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,76521,1,44,1,9147,1,39,130.0,1,1,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,76522,1,39,1,9670,1,1,110.0,1,1,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32

In [244]:
id_df = test_data[['id']]

In [245]:
test_data.isnull().sum()

id                                                0
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
dtype: int64

In [246]:
test_data.duplicated().sum()

0

In [247]:
test_data.drop(columns=['id'],inplace = True)

In [248]:
test_data.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,1,1,9500,1,1,141.0,1,3,1,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,1,1,1,9238,1,1,128.0,1,1,19,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,1,1,1,9238,1,1,118.0,1,1,19,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,1,44,1,9147,1,39,130.0,1,1,19,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,1,39,1,9670,1,1,110.0,1,1,37,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32

In [249]:
test_data.shape

(51012, 36)

In [250]:
train_data.shape

(76518, 37)

In [251]:
id_df

           id
0       76518
1       76519
2       76520
3       76521
4       76522
...       ...
51007  127525
51008  127526
51009  127527
51010  127528
51011  127529

[51012 rows x 1 columns]

In [252]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51012 entries, 0 to 51011
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  51012 non-null  int64
 1   Application mode                                51012 non-null  int64
 2   Application order                               51012 non-null  int64
 3   Course                                          51012 non-null  int64
 4   Daytime/evening attendance                      51012 non-null  int64
 5   Previous qualification                          51012 non-null  int64
 6   Previous qualification (grade)                  51012 non-null  float64
 7   Nacionality                                     51012 non-null  int64
 8   Mother's qualification                          51012 non-null  int64
 9   Father's qualification                          51012 non-null  int64
 10  Mother's occupation                             51012 non-null  int64
 11  Father's occupation                             51012 non-null  int64
 12  Admission grade                                 51012 non-null  float64
 13  Displaced                                       51012 non-null  int64
 14  Educational special needs                       51012 non-null  int64
 15  Debtor                                          51012 non-null  int64
 16  Tuition fees up to date                         51012 non-null  int64
 17  Gender                                          51012 non-null  int64
 18  Scholarship holder                              51012 non-null  int64
 19  Age at enrollment                               51012 non-null  int64
 20  International                                   51012 non-null  int64
 21  Curricular units 1st sem (credited)             51012 non-null  int64
 22  Curricular units 1st sem (enrolled)             51012 non-null  int64
 23  Curricular units 1st sem (evaluations)          51012 non-null  int64
 24  Curricular units 1st sem (approved)             51012 non-null  int64
 25  Curricular units 1st sem (grade)                51012 non-null  float64
 26  Curricular units 1st sem (without evaluations)  51012 non-null  int64
 27  Curricular units 2nd sem (credited)             51012 non-null  int64
 28  Curricular units 2nd sem (enrolled)             51012 non-null  int64
 29  Curricular units 2nd sem (evaluations)          51012 non-null  int64
 30  Curricular units 2nd sem (approved)             51012 non-null  int64
 31  Curricular units 2nd sem (grade)                51012 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  51012 non-null  int64
 33  Unemployment rate                               51012 non-null  float64
 34  Inflation rate                                  51012 non-null  float64
 35  GDP                                             51012 non-null  float64
dtypes: float64(7), int64(29)
memory usage: 14.0 MB

In [253]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  76518 non-null  int64
 1   Application mode                                76518 non-null  int64
 2   Application order                               76518 non-null  int64
 3   Course                                          76518 non-null  int64
 4   Daytime/evening attendance                      76518 non-null  int64
 5   Previous qualification                          76518 non-null  int64
 6   Previous qualification (grade)                  76518 non-null  float64
 7   Nacionality                                     76518 non-null  int64
 8   Mother's qualification                          76518 non-null  int64
 9   Father's qualification                          76518 non-null  int64
 10  Mother's occupation                             76518 non-null  int64
 11  Father's occupation                             76518 non-null  int64
 12  Admission grade                                 76518 non-null  float64
 13  Displaced                                       76518 non-null  int64
 14  Educational special needs                       76518 non-null  int64
 15  Debtor                                          76518 non-null  int64
 16  Tuition fees up to date                         76518 non-null  int64
 17  Gender                                          76518 non-null  int64
 18  Scholarship holder                              76518 non-null  int64
 19  Age at enrollment                               76518 non-null  int64
 20  International                                   76518 non-null  int64
 21  Curricular units 1st sem (credited)             76518 non-null  int64
 22  Curricular units 1st sem (enrolled)             76518 non-null  int64
 23  Curricular units 1st sem (evaluations)          76518 non-null  int64
 24  Curricular units 1st sem (approved)             76518 non-null  int64
 25  Curricular units 1st sem (grade)                76518 non-null  float64
 26  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 27  Curricular units 2nd sem (credited)             76518 non-null  int64
 28  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 29  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 30  Curricular units 2nd sem (approved)             76518 non-null  int64
 31  Curricular units 2nd sem (grade)                76518 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 33  Unemployment rate                               76518 non-null  float64
 34  Inflation rate                                  76518 non-null  float64
 35  GDP                                             76518 non-null  float64
 36  Target                                          76518 non-null  int64
dtypes: float64(7), int64(30)
memory usage: 21.6 MB

In [254]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier,AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [255]:
x= train_data.drop(columns=['Target'],axis=1)
y= train_data['Target']

In [256]:
X_train, X_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=42)

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(test_data)

In [266]:
pip install catboost

Requirement already satisfied: catboost in c:\users\ayush\anaconda3\lib\site-packages (1.2.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: graphviz in c:\users\ayush\anaconda3\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in c:\users\ayush\anaconda3\lib\site-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in c:\users\ayush\anaconda3\lib\site-packages (from catboost) (1.24.3)
Requirement already satisfied: pandas>=0.24 in c:\users\ayush\anaconda3\lib\site-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in c:\users\ayush\anaconda3\lib\site-packages (from catboost) (1.10.1)
Requirement already satisfied: plotly in c:\users\ayush\anaconda3\lib\site-packages (from catboost) (5.9.0)
Requirement already satisfied: six in c:\users\ayush\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ayush\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ayush\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2022.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ayush\anaconda3\lib\site-packages (from matplotlib->catboost) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\ayush\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ayush\anaconda3\lib\site-packages (from matplotlib->catboost) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ayush\anaconda3\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ayush\anaconda3\lib\site-packages (from matplotlib->catboost) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ayush\anaconda3\lib\site-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ayush\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\ayush\anaconda3\lib\site-packages (from plotly->catboost) (8.2.2)

In [277]:
estimators = [
    ('rf', RandomForestClassifier(n_estimators=100, random_state=42, max_depth=4, criterion='gini')),
    ('knn', KNeighborsClassifier(n_neighbors=10)),
    ('gbdt', GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3)),
    ('dt', DecisionTreeClassifier(max_depth=7, criterion='gini', random_state=42)),
    ('svm', SVC(C=1.0, kernel='linear', gamma='scale', probability=True))
]

In [278]:
from sklearn.ensemble import StackingClassifier

In [279]:
clf = StackingClassifier(
    estimators=estimators, 
    final_estimator=LogisticRegression(),
    cv=10
)

In [ ]:
clf.fit(X_train,y_train)

In [263]:

pred = pd.DataFrame(mapped_output)
sub_df = pd.read_csv('sample_submission.csv')
datasets = pd.concat([sub_df['id'],pred],axis=1)
datasets.columns = ['id','Target']
datasets.to_csv('submission.csv',index = False)